<div class="container-fluid">

  <div class="container form-container">
    <form class="signup-form" id="login_form">

      <fieldset>
        <label>
          Email
          <input
            type="email"
            name="email"
            id="email"
            [pattern]="emailRegexp"
            required
          />
          <small class="invalid-text" id="invalid-email"></small>
        </label>

        <label>
          Password
          <input
            type="password"
            name="password"
            id="password"
            minlength="6"
            required
          />
          <small class="invalid-text" id="invalid-password"></small>
        </label>

        <label>
          Confirm password
          <input
            type="password"
            name="confirm_password"
            id="confirm_password"
            minlength="6"
            required
          />
          <small class="invalid-text" id="invalid-confirm-password"></small>

        </label>
      </fieldset>

      <div class="info-msg" *ngIf="infoMessage">{{infoMessage}}</div>

      <div class="grid">
        <button type="button" class="secondary" id="reset_btn" [disabled]="!touchedInputsSet.size">Reset</button>
        <button type="submit" id="submit_btn" disabled>Sign up</button>
      </div>

    </form>
  </div>
</div>
