<div class="container-fluid">

  <div class="container form-container">
    <form class="signup-form">

      <fieldset>
        <label>
          Email
          <input
            type="email"
            name="email"
            required
          />
        </label>

        <label>
          Password
          <input
            type="password"
            name="password"
            required
          />
        </label>

        <label>
          Confirm password
          <input
            type="password"
            name="confirm_password"
            required
          />
        </label>
      </fieldset>

      <div class="grid">
        <input type="reset" value="Reset"/>
        <input type="submit" value="Sign up">
      </div>

    </form>
  </div>
</div>
